<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Aluno</title>
    <link rel="stylesheet" th:href="@{/css/alunoForm.css}" />
</head>
<body>
<div class="container">
    <h1>Cadastrar Aluno</h1>
    <form th:action="@{/alunos/cadastrarAluno}" th:object="${aluno}" method="post">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" th:value="*{cpf}" required>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" th:value="*{nome}" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="*{email}" required>
        <label for="turma">Turma:</label>
        <select id="turma" name="turma" th:field="*{turma}">
            <option th:each="turma : ${turmas}" th:value="${turma.id}" th:text="${turma.nome}"></option>
        </select>
        <input type="submit" value="Cadastrar">
    </form>
</div>
</body>
</html>
